# Web
fastapi
uvicorn[standard]
uvloop; sys_platform != "win32"

# Config
pydantic-settings

# Database
SQLAlchemy[asyncio]
asyncpg
alembic

# HTTP
httpx

# AI / LLM
langgraph
langchain-core
langchain-openai
openai
langchain-gigachat

# Telegram
aiogram

# Observability
prometheus-client

# Utils
python-dotenv
